@{
    ViewData["Title"] = "About Page";
}
<h1>@ViewData["Title"]</h1>

<p>
    Hello my name is Andrew. I come from Scotland and have a passion for playing video games. I hope to become a
    website
    developer<br> or software developer one day. In the past I have built 2 computers and still love to tinker with
    computers.<br>
</p>

<p>
    I have previously worked as a loomer which is a sort of
    machine setter.<br>When I was in this role I performed loomings which
    involved 2 people stripping down a Loom machine and then inserting
    a new job into the loom machine.<br> Sometimes we would do other duties
    as well like putting in jobs to the back of looms that didn't need
    loomings and setting up Jacquard looms
</p>
