@{
    ViewData["Title"] = "Projects Page";
}

<!-- Projects Section -->
<section id="projects" class="bg-gray-100 py-16">
    <div class="container mx-auto">
        <h2 class="text-2xl font-semibold text-gray-900 mb-8">Projects</h2>

        <!-- Grid layout for projects 3x2 -->
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">

            <!-- BikeKingBorders -->
            <div class="bg-white p-6 rounded-lg shadow-md">
                <h3 class="text-xl font-semibold text-gray-900 mb-4">BikeKingBorders</h3>
                <p class="text-gray-600">
                    This application allowed a user to browse a website store for bikes and download the app as a progressive web app (PWA).
                </p>
                <a href="https://github.com/AndyCode2022/ionic-PWA.git" target="_blank">Link For Project</a>
            </div>

            <!-- PHP portfolio -->
            <div class="bg-white p-6 rounded-lg shadow-md">
                <h3 class="text-xl font-semibold text-gray-900 mb-4">PHP Portfolio</h3>
                <p class="text-gray-600">
                    This was my previous portfolio that was designed using PHP, MySQL, and JavaScript.
                </p>
                <a href="https://github.com/AndyCode2022/PortfolioPHP" target="_blank">Link For Project</a>
            </div>

            <!-- Random Number Generator -->
            <div class="bg-white p-6 rounded-lg shadow-md">
                <h3 class="text-xl font-semibold text-gray-900 mb-4">Random Number Generator</h3>
                <p class="text-gray-600">
                    A basic random number generator made in Java.
                </p>
                <a href="https://github.com/AndyCode2022/RandomNumberGenerator" target="_blank">Link For Project</a>
            </div>

            <!-- ShooterXgames -->
            <div class="bg-white p-6 rounded-lg shadow-md">
                <h3 class="text-xl font-semibold text-gray-900 mb-4">ShooterXgames</h3>
                <p class="text-gray-600">
                    ShooterXgames is a game forum website that allows users to post and make comments on other user's posts. The website also has admin functionality.
                </p>
                <a href="https://github.com/AndyCode2022/ShooterXgames" target="_blank">Link For Project</a>
            </div>

            <!-- Sokoban -->
            <div class="bg-white p-6 rounded-lg shadow-md">
                <h3 class="text-xl font-semibold text-gray-900 mb-4">Sokoban</h3>
                <p class="text-gray-600">
                    A Java project game that used object-oriented programming methods such as encapsulation, polymorphism, inheritance, and abstraction.
                </p>
                <a href="https://github.com/AndyCode2022/sokobanGame/tree/master" target="_blank">Link For Project</a>
            </div>

            <!-- Theatre Website -->
            <div class="bg-white p-6 rounded-lg shadow-md">
                <h3 class="text-xl font-semibold text-gray-900 mb-4">Theatre Website</h3>
                <p class="text-gray-600">
                    A website that revolves around what's available in the cinemas.
                </p>
                <a href="https://github.com/AndyCode2022/Theatre-Website" target="_blank">Link For Project</a>
            </div>
        </div>
</section>
