@{
    ViewData["Title"] = "Skills Page";
}

<!-- Skills Section -->

<div class="bg-light">
	<div class="container pt-5">
		<div class="row">
			<div class="col-lg-3">
				<img class="img-fluid pt-3 w-75 pb-3" src="~/images/mongodb.png" alt="Mongodb image">
			</div>
			<div class="col-lg-3">
				<img class="img-fluid pt-3 w-75 pb-3" src="~/images/express.png" alt="Express image">
			</div>
			<div class="col-lg-3">
				<img class="img-fluid pt-3 w-75 pb-3" src="~/images/javascript.png" alt="JavaScript image">
			</div>
			<div class="col-lg-3">
				<img class="img-fluid pt-3 w-75 pb-3" src="~/images/node.png" alt="Node.js image">
			</div>
		</div>

		<div class="row pb-3">
			<div class="col-lg-3">
				<h4 style="color: #808080;">Mongodb</h4>
			</div>
			<div class="col-lg-3">
				<h4 style="color: #808080;">Express</h4>
			</div>
			<div class="col-lg-3">
				<h4 style="color: #808080;">JavaScript</h4>
			</div>
			<div class="col-lg-3">
				<h4 style="color: #808080;">Node.js</h4>
			</div>
		</div>
	</div>
</div>